Homework1/Part1WebApp/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Homework1Part1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Homework1Part1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="stringStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="DigitCount" type="xs:int" />
      <xs:element minOccurs="0" name="LowercaseCount" type="xs:int" />
      <xs:element minOccurs="0" name="UppercaseCount" type="xs:int" />
      <xs:element minOccurs="0" name="VowelCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="stringStatistics" nillable="true" type="tns:stringStatistics" />
</xs:schema>